<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CIS240 Lab 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>525323B81F81DE70006B49CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525323CC1F81DE76006B49CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525323D71F81DE76006B49CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
